nav#navigation {
  background-color: #4d4d4d;
  float: inherit;
  margin: 0px;
  padding: 5px;
  text-align: center;
  min-width: 810px;
}

nav#navigation ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav#navigation ul li {
  display: inline-block;
  float: left;
  text-align: center;
}

nav#navigation ul li a {
  display: block;
  background-color: #4d4d4d;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Times New Roman", sans-serif;
  width: 250px;
  padding: 10px;
}

nav#navigation ul li a:hover {
  background-color: #a6a6a6;
  color: #006bb3;
}

/* Resume */

body#resume {
background-color: #808080;
text-align: center;
}

#resume_wrapper {
  width: 750px;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#resume_side {
  top: 0px;
  left: 10px;
  padding: 5px;
  width: 28%;
  height: 1150px;
  background: #ccc;
  float: left;
  text-align: left;
  border-radius: 6px;
}

#resume_main {
  left: 10px;
  width: 70%;
  height: 1160px;
  background-color: #ccc;
  float: right;
  border-radius: 6px;
}

#resume_title {
  text-align: center;
  color: white;
}

/* Weekly Schedule */

body#schedule {
  background-color: #0f1f3d;
  color: #ffffff;
  font-family: 'Oswald', serif;
  text-align: center;
}

table#week {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5em;
  padding: 25px;
  color: #ffffff;
  border-collapse: collapse;
}

table#pictures {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5em;
  padding: 25px;
  border-collapse: collapse;
}

.datafield {
  background-color: #3366cc;
  font-weight: 700;
  padding: 0px;
  border: solid #2952a3;
  border-width: 2px;
  border-collapse: collapse;
  text-decoration: underline;
}

.day {
  background-color: #3366cc;
  font-weight: 700;
  padding: 3px;
  border: solid #2952a3;
  border-width: 2px;
  border-collapse: collapse;
}

.pictable1 {
  width: 25%;
  background-color: #3366cc;
  font-weight: 700;
  border: none;
  padding: 0px;
  padding-top: 10px;
  text-decoration: underline;
}

.pictable2 {
  width: 25%;
  background-color: #3366cc;
  font-weight: 700;
  border: none;
  border-left: solid;
  border-width: 15px;
  border-color: #0f1f3d;
  padding: 0px;
  padding-top: 10px;
  text-decoration: underline;
}

.pictable3 {
  width: 25%;
  background-color: #3366cc;
  font-weight: 700;
  border: none;
  padding: 0px;
  padding-top: 10px;
  text-decoration: underline;
}

.pictable4 {
  width: 25%;
  height: 30px;
  background-color: #3366cc;
  font-weight: 700;
  border: none;
  border-left: solid;
  border-width: 15px;
  border-color: #0f1f3d;
  padding: 0px;
  padding-top: 10px;
  text-decoration: underline;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 250px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5c85d6;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td {
  background-color: #5c85d6;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  padding: 5px 3px;
  border: solid #2952a3;
  border-width: 2px;
  border-collapse: collapse;
}

th {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  padding: 5px 3px;
  border: solid #2952a3;
  border-width: 2px;
  border-collapse: collapse;
}

/* Steam Library */

body#steam {
  background: url('../media/steam.jpg');
  background-color: #000000;
  background-attachment: fixed;
  background-position:center;
  color: #ffffff;
  font-family: 'Oswald', serif;
  font-size: 32px;
  text-align: center;
}

table#games {
  width: 90%;
  max-width: 1728px;
  min-width: 864px;
  max-height: 972px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5em;
  padding: 25px;
  color: #ffffff;
  border-collapse: collapse;
}

.gamelogo {
  background-color: #3366cc;
  width: 31%;
  font-weight: 700;
  padding: 0px;
  border: solid #2952a3;
  border-width: 2px;
  border-collapse: collapse;
  text-decoration: underline;
}

.game {
  background-color: #3366cc;
  width: 23%;
  font-weight: 700;
  padding: 0px;
  border: solid #2952a3;
  border-width: 2px;
  border-collapse: collapse;
  text-decoration: underline;
}

.data {
  width: 23%;
  font-weight: 700;
  padding: 3px;
  border: solid #2952a3;
  border-width: 2px;
  border-collapse: collapse;
}

.image2 {
  display: block;
  width: 100%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video object,
.video embed,
.video iframe {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
